@model DoctorEditViewModel
@{
	ViewData["Title"] = "SignUp";
}

<h1>Add Doctot</h1>
<div class="main-w3layouts wrapper">
	<div class="main-agileinfo">
		<div class="agileits-top">
			<form asp-action="Edit" asp-controller="Admin" enctype="multipart/form-data">
				@Html.ValidationSummary(true,"",new {@class="text-danger"})
				<input class="text email" type="email" asp-for=@Model.Email placeholder="Email" required="">
				<span asp-validation-for="@Model.Email"></span>

				<input class="text" type="text" asp-for=@Model.Specialty placeholder="spec" required="">
				<span asp-validation-for="@Model.Specialty"></span>

				<input class="text" type="text" asp-for=@Model.UserName placeholder="spec" required="">
				<span asp-validation-for="@Model.UserName"></span>

				<div class="form-group">
					<label asp-for="@Model.File" class="col-form-label"> </label>
					<input type="file" asp-for="@Model.File" class="form-control" />
				</div>
				<input type="submit" value="Add">
			</form>
			<td>
				<img src="~/Files/Images/@Model.Image" class="img-circle" hight="70" width="70" alt="Doctor">
			</td>
		</div>
		@section Scripts{
			<partial name="_ValidationScriptsPartial" />
		}
	</div>
</div>

